#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

.mascota{
  width: 45%;
}

@media screen and (max-width: 767px) {
  .mascota{
    width: 35%;
  }
}

.btnBorrarTodo{
  width: 95% !important;
}

@media screen and (min-width: 576px) {
  .btnBorrarTodo{
    width: 50% !important;
  }
}

#sintomas{
  height: 150px;
  resize: none;
}

span{
  color: red;
}